body{
   
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    overflow: hidden;
    background-color: #f9f7f1;
    
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;  
}

#book{
    margin: 5% auto;
	width:800px;
	height:400px;
}

#book .turn-page{
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
	width:400px;
	height:400px;
	background-color:#ccc;
	border:1px solid #999;


}


#book div{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}